body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.color-box {
    width: 300px;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.question {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 50%;
}

.color-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-option {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
}

.color-option:hover {
    border-width: 4px;
}

.color-card-option {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
}

.color-card-option:hover {
    border-width: 4px;
}
